CONFIG_ARCH_TEXT_BASE=0xC0400000
CONFIG_MEMORY_LAYOUT_FIXED=y
CONFIG_MALLOC_BASE=0xC0500000
CONFIG_MALLOC_SIZE=0x00600000
CONFIG_STACK_BASE=0xC0C00000
CONFIG_BAREBOX_MAX_IMAGE_SIZE=0x00100000
CONFIG_BUILTIN_DTB=y
CONFIG_DEFAULT_ENVIRONMENT_PATH="arch/eco32/boards/generic/env"
CONFIG_PANIC_HANG=y
CONFIG_LONGHELP=y
CONFIG_OFDEVICE=y
CONFIG_OF_BAREBOX_DRIVERS=y
CONFIG_BOOTM_OFTREE
CONFIG_DISK=y
CONFIG_DISK_ECO32=y
# CONFIG_PARTITION_DISK_DOS is not set
CONFIG_PARTITION_DISK_ECO32=y
CONFIG_FS_EXT4=y
# CONFIG_SPI is not set
# CONFIG_PINCTRL is not set
CONFIG_CMD_EXPORT=y
CONFIG_CMD_OFTREE=y
CONFIG_CMD_OF_DUMP=y
